# api
api/static

# webapp
webapp/build

# deploy
terraform.tfstate
terraform.tfstate.backup

# bot
hubot.conf
.hubot_history

# website
website/build

# api-client
packages/api-client/doc/
packages/api-client/sample.js

# IDE
.idea

# Node.js
node_modules
npm-debug*
yarn-error.log
lerna-debug.log

# misc
/bin
/old
.env

# OSX
.DS_Store
