/*
 ListItem

 Standard menu item.

 :hover             - Hover state.
 .list-item--active - Active state.

 Markup: examples/ListItem.hbs

 Styleguide List.ListItem
*/
.list-item {
    display: block;
    position: relative;
    padding: 12px var(--section-h-padding);
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    border-left: 3px solid transparent;
    border-bottom: 1px solid var(--medium-grey);
}
.list-item:hover {
    border-left-color: var(--blue);
    background: #fff;
}
.list-item--active {
    border-left-color: var(--dark-blue);
    color: var(--dark-blue);
}
.list-item--user {
    padding-left: 86px
}