/*
 MenuItem

 Standard menu item.

 :hover             - Hover state.
 .menu-item--active - Active state.

 Markup: examples/MenuItem.hbs

 Styleguide Navigation.MenuItem
*/
.menu-item {
    display: block;
    padding: 9px 20px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    position: relative;
    white-space: nowrap;
    color: #8abfde;
}
.menu-item:hover {
    color: var(--white);
}
.menu-item--active {
    border-right-color: var(--dark-blue);
    color: var(--white);
    background: var(--medium-blue);
}