/*
 ButtonGroup

 Grouping buttons.

 Markup: examples/ButtonGroup.hbs

 Styleguide Buttons.ButtonGroup
*/
.button-group {
    display: inline-block;
}
.button-group .button {
    border-radius: 0;
    border-left-width: 0;
}
.button-group .button:first-child {
    border-radius: 2px 0 0 2px;
    border-left-width: 1px;
}
.button-group .button:last-child {
    border-radius: 0 2px 2px 0;
}