.pager {
    display: inline-block;
    color: #999;
    font-size: 14px;
}
.pager__start,
.pager__end,
.pager__total {
    display: inline-block;
    color: #777;
}
.pager__total {
    margin-right: 9px;
}