/*
 DropDown

 Standard DropDown.

 Markup: examples/DropDown.hbs

 Styleguide DropDown.DropDown
*/
.dropdown {
    position: relative;
}

.dropdown__panel {
    position: absolute;
    z-index: 4000;
    top: 100%;
    background: #fff;
    padding: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 7px 12px rgba(0, 0, 0, 0.15);
    transform: translate3d(0, 0, 0);
    transform-origin: 50% 0;
    margin-top: 10px;
}
/*
.dropdown__panel--opened {
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
*/
.dropdown__panel--left {
    left: 0;
}
.dropdown__panel--right {
    right: 0;
}
.dropdown__panel--justify {
    width: 100%;
}
.dropdown__panel--user-menu {
    width: 240px;
    padding: 12px 0;
    background-color: var(--dark-blue);
}


.dropdown-enter {
    opacity: 0.01;
    transform: translate3d(0, -15px, 0) scale(0.9);
}

.dropdown-enter.dropdown-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
    transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.dropdown-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.dropdown-leave.dropdown-leave-active {
    opacity: 0.01;
    transform: translate3d(0, 10px, 0);
    transition: opacity 200ms ease-in, transform 200ms ease-in;
}