.lang-switch {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--darker-blue);
    height: var(--footer-height);
    color: var(--blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.lang-switch .button--active {
    color: var(--white);
}