.notifications {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10000;
    width: 340px;
}
.notifications__item {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 45px 10px 15px;
    background: #f9eaca;
    border: 1px solid #d9caae;
    border-top-width: 0;
    transform: translate3d(0, 0, 0)
}
.notifications__item:first-child {
    border-top-width: 1px;
}
.notifications__item__delete {
    position: absolute;
    display: block;
    top:   10px;
    right: 15px;
    width:  20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

.notifications__item-enter {
    opacity: 0.01;
    transform: translate3d(0, -15px, 0);
}

.notifications__item-enter.notifications__item-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.notifications__item-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.notifications__item-leave.notifications__item-leave-active {
    opacity: 0.01;
    transform: translate3d(0, 15px, 0);
    transition: opacity 200ms ease-in, transform 200ms ease-in;
}