<div class="color-demo bg-light-grey">
    <span class="color-demo-name">light grey</span>
</div>
<div class="color-demo bg-medium-grey">
    <span class="color-demo-name">medium grey</span>
</div>
<div class="color-demo bg-dark-grey">
    <span class="color-demo-name">dark grey</span>
</div>
<div class="color-demo bg-brick-red">
    <span class="color-demo-name">brick red</span>
</div>
<div class="color-demo bg-blue">
    <span class="color-demo-name">blue</span>
</div>
<div class="color-demo bg-dark-blue">
    <span class="color-demo-name">dark blue</span>
</div>