<span class="button-group">
    <span class="button">button A</span><span class="button">button B</span><span class="button">button C</span>
</span>
<br/>
<span class="button-group">
    <span class="button button--action">button A</span><span class="button button--action">button B</span><span class="button button--action">button C</span>
</span>
<br/>
<span class="button-group">
    <span class="button button--warning">button A</span><span class="button button--warning">button B</span><span class="button button--warning">button C</span>
</span>
