body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Mono', monospace;
    color: #333;
    font-size:   16px;
    line-height: 22px;
    -webkit-font-smoothing: antialiased;
}

html,
body,
#root {
    height: 100%;
    background: #f3f4f8;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}


input[type=text],
input[type=password],
textarea {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: #f7f8fc;
    padding: 9px 12px;
    border: 1px solid #e2e3e7;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
    border-color: #cdced2;
    background-color: #fff;
    outline: 0;
}