@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);/*
 Colors

 Color palette.

 Markup: examples/ColorPalette.hbs

 Styleguide Config.ColorPalette
*/
:root {
    --light-grey: #eee;
    --medium-grey: #ccc;
    --dark-grey: #333;
    --brick-red: #b34c2c;
    --orange: #d5a65f;
    --dark-orange: #a76b2a;
    --white: #fff;
    --blue: #6db0d4;
    --medium-blue: #4d80bc;
    --dark-blue: #4571a6;
    --darker-blue: #435f92;
}

.color-demo {
    display: inline-block;
    width: 33.33%;
    height: 60px;
    white-space: nowrap;
    text-align: center;
    border: 1px solid #000;
}
.color-demo-name {
    display: block;
    height: 24px;
    line-height: 24px;
    border-bottom: 1px solid #000;
    background: #fff;
}

.bg-light-grey {
    background: var(--light-grey);
}
.bg-medium-grey {
    background: var(--medium-grey);
}
.bg-dark-grey {
    background: var(--dark-grey);
}
.bg-brick-red {
    background: var(--brick-red);
}
.bg-white {
    background: var(--white);
}
.bg-blue {
    background: var(--blue);
}
.bg-dark-blue {
    background: var(--dark-blue);
}:root {
    --header-height:     56px;
    --footer-height:     46px;
    --sidebar-width:     16%;
    --extra-pane-width:  24%;
    --section-h-padding: 30px;
}/*
 Button

 Standard button.

 :focus - Behavior on focus.
 .button--full - A full width button.
 .button--bold - A bolder button.
 .button--action - A button suitable for form submission.
 .button--small - A smaller button.
 .button--active - Active state.

 Markup: examples/Button.hbs

 Styleguide Buttons.Button
*/
.button {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    white-space: nowrap;
    padding: 9px 12px;
    line-height: 1.3em;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    background: var(--white);
    text-align: center;
    border: 0;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 1px 2px var(--medium-grey);
}
.button:focus {
    outline: 0;
}
.button:hover {
    box-shadow: 0 0 0 var(--medium-grey);
}
.button--full {
    display: block;
    width: 100%;
}
.button--small {
    font-size: 14px;
    padding: 5px 9px;
}
.button--naked {
    border: 0;
    background: transparent;
    box-shadow: none;
}
.button--bold {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    padding: 12px 20px;
}
.button--action {
    background: var(--blue);
    color: var(--white);
}
.button--warning {
    background: var(--orange);
    color: var(--white);
}
.button--outline:hover {
    background: var(--dark-grey);
    color: var(--white);
}
.button--active {
    color: var(--brick-red)
}/*
 Form Control

 Form Control.

 :focus              - Highlight on focus.
 .form-control--full - Full width form control.

 Markup: examples/FormControl.hbs

 Styleguide Form.FormControl
*/
.form-control {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: 1px solid var(--medium-grey);
    padding: 9px 12px;
    border-radius: 2px;
}
.form-control:focus {
    outline: 0;
    border-color: var(--blue);
}
.form-control--full {
    display: block;
    width: 100%;
}.form-error {

}.brand {
    display: block;
    font-size: 24px;
    font-weight: 900;
    color: var(--white);
    background: var(--darker-blue);
    padding: 16px 20px 0 20px;
    height: var(--header-height);
}/*
 MenuItem

 Standard menu item.

 :hover             - Hover state.
 .menu-item--active - Active state.

 Markup: examples/MenuItem.hbs

 Styleguide Navigation.MenuItem
*/
.menu-item {
    display: block;
    padding: 9px 20px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    position: relative;
    white-space: nowrap;
    color: #8abfde;
}
.menu-item:hover {
    color: var(--white);
}
.menu-item--active {
    border-right-color: var(--dark-blue);
    color: var(--white);
    background: var(--medium-blue);
}/*
 ListItem

 Standard menu item.

 :hover             - Hover state.
 .list-item--active - Active state.

 Markup: examples/ListItem.hbs

 Styleguide List.ListItem
*/
.list-item {
    display: block;
    position: relative;
    padding: 12px var(--section-h-padding);
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    border-left: 3px solid transparent;
    border-bottom: 1px solid var(--medium-grey);
}
.list-item:hover {
    border-left-color: var(--blue);
    background: #fff;
}
.list-item--active {
    border-left-color: var(--dark-blue);
    color: var(--dark-blue);
}
.list-item--user {
    padding-left: 86px
}.item-title {
    font-size: 18px;
    font-weight: 400;
    display: block;
    margin-bottom: 7px;
    color: #000;
}.item-date {
    font-weight: 400;
    color: #999;
    font-size: 14px;
}h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
}
h1 {
    margin-top: 30px;
}.avatar {
    width:  36px;
    height: 36px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}
.avatar--list {
    position: absolute;
    top: 12px;
    left: var(--section-h-padding)
}
.avatar img {
    width: 100%;
    height: 100%;
}.loader {
    position: relative;
    display: block;
    height: 3px;
    width: 100%;
    opacity: 0;
    transition: opacity 600ms;
}
.loader:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--blue);
    transform-origin: 0 0;
    animation: pulse 3s infinite linear;
}
.loader--loading {
    opacity: 1;
}


@keyframes pulse {
    0% {
        transform: translate(0, 0) scaleX(0.1)
    }
    25% {
        transform: translate(20%, 0) scaleX(0.6)
    }
    50% {
        transform: translate(90%, 0) scaleX(0.1)
    }
    75% {
        transform: translate(20%, 0) scaleX(0.6)
    }
    100% {
        transform: translate(0, 0) scaleX(0.1)
    }
}.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 56px;
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}/*
 Menu

 Menu.

 Styleguide Navigation.Menu
*/
.menu {
    margin: 0;
    padding: 0;
}
.menu-title {
    text-transform: uppercase;
    font-size: 13px;
    padding: 0 20px;
    color: var(--white);
    font-weight: 500;
    margin: 20px 0 5px 0;
}/*
 List

 List.

 Styleguide List.List
*/
.list {
    margin: 0;
    padding: 0;
    border-top: 1px solid var(--medium-grey);
}/*
 ButtonGroup

 Grouping buttons.

 Markup: examples/ButtonGroup.hbs

 Styleguide Buttons.ButtonGroup
*/
.button-group {
    display: inline-block;
}
.button-group .button {
    border-radius: 0;
    border-left-width: 0;
}
.button-group .button:first-child {
    border-radius: 2px 0 0 2px;
    border-left-width: 1px;
}
.button-group .button:last-child {
    border-radius: 0 2px 2px 0;
}/*
 FormActions

 Form actions.

 Markup: examples/FormActions.hbs

 Styleguide Form.FormActions
*/
.form-actions {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.form-actions .button {
    flex-grow: 1;
    margin-left: 15px;
}
.form-actions .button:first-child {
    margin-left: 0;
}.lang-switch {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: var(--darker-blue);
    height: var(--footer-height);
    color: var(--blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.lang-switch .button--active {
    color: var(--white);
}.pager {
    display: inline-block;
    color: #999;
    font-size: 14px;
}
.pager__start,
.pager__end,
.pager__total {
    display: inline-block;
    color: #777;
}
.pager__total {
    margin-right: 9px;
}*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 1.6em;
    background: var(--light-grey);
    color: var(--dark-grey);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    color: var(--dark-blue);
    text-decoration: none;
}

body {
    margin-top: 56px;
}

.page-wrapper {
    padding-left: 15%;
}

.container {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--sidebar-width);
    height: 100%;
    background: var(--dark-blue);
    z-index: 1000;
    box-shadow: -1px 0 1px rgba(0, 0, 0, 0.5) inset;
}

.sidebar-wrapper {
    position: absolute;
    top: var(--header-height);
    bottom: var(--footer-height);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.content {
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    right: var(--extra-pane-width);
    bottom: 0;
    height: 100%;
}

.content-header {
    height: var(--header-height);
    background: var(--white);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 var(--section-h-padding);
    z-index: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-header .loader {
    position: absolute;
    left:   0;
    bottom: 0;
}
.content-header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: var(--dark-blue);
}

.content-wrapper {
    position: absolute;
    top: var(--header-height);
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.extra-pane {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: var(--extra-pane-width);
    height: 100%;
    z-index: 2000;
    background: var(--white);
    box-shadow: -1px 0 5px rgba(0, 0, 0, 0.15);
}

.section {
    padding: 0 var(--section-h-padding);
}

.form {
    margin: 30px;
}

.grid {
    display: flex;
    padding: 30px var(--section-h-padding);
    flex-wrap: wrap;
    margin: 0;
}
.grid-item {
    position: relative;
    list-style: none;
    margin: 0 2% 20px 0;
    width: 32%;
    background: var(--white);
    height: 120px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 3px 7px rgba(0,0,0,0.1);
}
.grid-item:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.grid-item__banner {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px 2px 0 0;
    margin-bottom: 7px;
    border-bottom: 1px solid #ddd;
}
.grid-item__title {
    display: block;
    text-align: center;
    font-weight: 700;
}
.grid-item:nth-child(3n) {
    margin-right: 0;
}

.add-to-collection {
    position: relative;
    display: inline-block;
}
.add-to-collection__content {
    color: #bbb;
    display: none;
    position: absolute;
    background: var(--white);
    top: 0;
    right: 100%;
    z-index: 2000;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15), 0 0 10px rgba(0,0,0,0.1);
    font-size: 14px;
    margin: 0;
    padding: 7px 0;
    border-radius: 2px;
    width: 200px;
    overflow: hidden;
}
.add-to-collection__title {
    list-style: none;
    white-space: nowrap;
    color: #000;
    padding: 3px 15px;
    font-weight: 500;
}
.add-to-collection__item {
    list-style: none;
    white-space: nowrap;
    padding: 3px 15px;
    cursor: pointer;
}
.add-to-collection__item--added {
    color: #333;
}
.add-to-collection:hover .add-to-collection__content {
    display: block;
}
.list-item__controls {
    position: absolute;
    top: 15px;
    right: var(--section-h-padding);
}
.list-controls {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px var(--section-h-padding);
    border-top: 1px solid var(--medium-grey);
}
.list-controls h4 {
    margin: 0;
}
.not-found {
    width: 100%;
    height: 100%;
    display: flex;
    color: #999;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 120px;
}
.not-found__title {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 124px;
    margin: 0 0 12px 0;
    line-height: 1em;
    padding: 0;
    color: #000;
}
.topic-picture {
    width:  52px;
    height: 52px;
    border-radius: 26px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topic-picture img {
    max-width: 100%;
    max-height: 100%;
}
.topic-picture__default {
    width:  52px;
    height: 52px;
    background: var(--blue);
    color: var(--white);
    text-align: center;
    font-size: 28px;
    line-height: 52px;
    font-weight: 300;
    text-transform: uppercase;
}