/*
 Form Control

 Form Control.

 :focus              - Highlight on focus.
 .form-control--full - Full width form control.

 Markup: examples/FormControl.hbs

 Styleguide Form.FormControl
*/
.form-control {
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: 1px solid var(--medium-grey);
    padding: 9px 12px;
    border-radius: 2px;
}
.form-control:focus {
    outline: 0;
    border-color: var(--blue);
}
.form-control--full {
    display: block;
    width: 100%;
}
.form-control.error {
    border-color: #900;
}