/*
 Icon

 Icons.

 .icon--magnet - Magnet icon.
 .icon--magnet-pull - Magnet pull icon.
 .icon--hashtag - Hashtag icon.
 .icon--users - Users icon.
 .icon--news-feed - News feed icon.
 .icon--exit - Exit icon.
 .icon--exit-blue - Blue exit icon.
 .icon--chart - Chart icon.
 .icon--pie-chart - Pie chart icon.
 .icon--user-cog-blue - User preferences icon.

 Markup: examples/Icon.hbs

 Styleguide Icon.Icon
*/
.icon {
    display: inline-block;
    width:  28px;
    height: 28px;
    /*background-color: #000;*/
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
}
.icon--small {
    width:  22px;
    height: 22px;
}
.icon--push-right {
    margin-right: 10px;
}
.icon--magnet {
    background-image: url('../../assets/icon-magnet.png');
}
.icon--chart {
    background-image: url('../../assets/icon-chart.png');
}
.icon--pie-chart {
    background-image: url('../../assets/icon-pie-chart.png');
}
.icon--magnet-pull {
    background-image: url('../../assets/icon-magnet-pull.png');
}
.icon--hashtag {
    background-image: url('../../assets/icon-hashtag.png');
}
.icon--users {
    background-image: url('../../assets/icon-users.png');
}
.icon--news-feed {
    background-image: url('../../assets/icon-news-feed.png');
}
.icon--exit {
    background-image: url('../../assets/icon-exit.png');
}
.icon--exit-blue {
    background-image: url('../../assets/icon-exit-blue.png');
}
.icon--check-blue {
    background-image: url('../../assets/icon-check-blue.png');
}
.icon--circle-grey {
    background-image: url('../../assets/icon-circle-grey.png');
}
.icon--user-cog-blue {
    background-image: url('../../assets/icon-user-cog-blue.png');
}