/*
 List

 List.

 Styleguide List.List
*/
.list {
    padding: 0;
    margin:  0;
    background: #fff;
    list-style: none;
}
.list-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 15px;
}
.list-controls h4 {
    margin: 0;
}


/*
 ListItem

 Standard menu item.

 :hover             - Hover state.
 .list-item--active - Active state.

 Markup: examples/ListItem.hbs

 Styleguide List.ListItem
*/
.list-item {
    display: block;
    position: relative;
    padding: 15px var(--section-h-padding);
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
//border-left: 3px solid transparent;
//border-top: 1px solid var(--medium-grey);
    border-top: 1px solid #dbe2e7;
}

.list-item.compact {
    padding: 9px 15px;
}

.list-item:first-child {
    border-top-width: 0;
}
.list-item:hover {
//border-left-color: var(--blue);
}
.list-item--active {
    border-left-color: var(--dark-blue);
    color: var(--dark-blue);
}
.list-item--source {
    padding-left: 86px;
}
.list-item--news-item {
    padding-left: 64px;
}
.list-item--twitter:before,
.list-item--rss:before {
    content: '';
    position: absolute;
    top:  17px;
    left: var(--section-h-padding);
    display: block;
    width:  28px;
    height: 28px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.list-item--news-item.list-item--twitter:before,
.list-item--news-item.list-item--rss:before {
    width:  18px;
    height: 18px;
    top: 20px;
}
.list-item--twitter:before {
    background-image: url('../../assets/twitter-blue.png');
}
.list-item--rss:before {
    background-image: url('../../assets/rss-blue.png');
}
.list-item--user {
    padding-left: 86px;
}
.list-item__controls {
    position: absolute;
    top: 15px;
    right: var(--section-h-padding);
}