/*
 Menu

 Menu.

 Styleguide Navigation.Menu
*/
.f-menu {
    margin: 20px 0;
    padding: 0;
}
.f-menu__title {
    text-transform: uppercase;
    font-size: 13px;
    padding: 0 20px;
    color: var(--white);
    font-weight: 500;
    margin: 0 0 5px 0;
}

/*
 MenuItem

 Standard menu item.

 :hover   - Hover state.
 ._active - Active state.

 Markup: examples/MenuItem.hbs

 Styleguide Navigation.MenuItem
*/
.f-menu__item {
    display: block;
    padding: 9px 20px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    position: relative;
    white-space: nowrap;
    color: #8abfde;
    transition: background-color 400ms;
    background: var(--dark-blue);
}
.f-menu__item:hover {
    color: var(--white);
}
.f-menu__item._active {
    border-right-color: var(--dark-blue);
    color: var(--white);
    background: var(--medium-blue);
}