.notifications {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10000;
    width: 340px;
}
.notifications__item {
    position: relative;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 45px 10px 15px;
    background: #f9eaca;
    border: 1px solid #d9caae;
    border-top-width: 0;
}
.notifications__item:first-child {
    border-top-width: 1px;
}
.notifications__item__delete {
    position: absolute;
    display: block;
    top:   10px;
    right: 15px;
    width:  20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}